body {
    background-color: white;
    background-image: url(publicdomainq-study.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
  }
  
h1 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
  
h2 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: rgb(134, 49, 89);
}
a:active {
  color: hotpink;
}

  #information {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 300px;
      border: 3px solid  rgb(218, 169, 104);
      background-color: burlywood;
  }
  #nav{
    color: black;
    text-align: left;
    margin-left: 10px;
  }

  #notsoimportant {
    color: rgb(70, 70, 70);
    text-align: left;
    width: 90%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.712);
  }

  #Drawings {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(45, 109, 114, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Digitals {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(60, 45, 114, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Photography {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(45, 114, 57, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Self-Portraits {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(114, 45, 60, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }