body {
    background-image: url(ABC.png);
    font-family: Arial, Helvetica, sans-serif;
  }
  
h1 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
  
h2 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
h3 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
img {
    image-orientation: from-image;
}

.titletext {
background-color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: rgb(134, 49, 89);
}
a:active {
  color: hotpink;
}
#description {
    color: yellow;
    text-align: center; 
}
  #information {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 300px;
      border: 3px solid  rgb(218, 169, 104);
      background-color: burlywood;
  }
  #nav{
    color: black;
    text-align: left;
    margin-left: 10px;
    background-color: yellow;
    width: auto;
    text-align: center; 
  }

  #notsoimportant {
    color: rgb(70, 70, 70);
    text-align: left;
    width: 90%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.712);
  }

  #Drawings {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(47, 19, 78, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Digitals {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(212, 27, 27, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Photography {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(11, 184, 40, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Self-Portraits {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(190, 160, 22, 0.808);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }