body {
    background-image: url(ABC.png);
    font-family: Arial, Helvetica, sans-serif;
  }
  
h1 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
  
h2 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
h3 {
    color: black;
    text-align: left;
    margin-left: 10px;
  }
img {
    image-orientation: from-image;
    width: 150px;
}

.titletext {
background-color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: rgb(134, 49, 89);
}
a:active {
  color: hotpink;
}
#description {
    color: yellow;
    text-align: center; 
}
  #information {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 300px;
      border: 3px solid  rgb(218, 169, 104);
      background-color: burlywood;
  }
  #nav{
    color: black;
    text-align: left;
    margin-left: 10px;
    background-color: yellow;
    width: auto;
    text-align: center; 
  }

  #notsoimportant {
    color: rgb(70, 70, 70);
    text-align: left;
    width: 90%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.712);
  }

  #Drawings {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(47, 19, 78, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Digitals {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(212, 27, 27, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Photography {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(11, 184, 40, 0.692);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  #Self-Portraits {
    color: black;
    text-align: center;
    width: auto;
    border: 30px solid rgba(190, 160, 22, 0.808);
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  <!-- anpassen -->


  {<div class="grid-container">
    <div class="grid-item item1">
    <img src="Drawings/img_nature.jpg" alt="nature" style="width:500px;height:600px;">
    covered Nature
      </div>

      <div class="grid-item item2">
      <img src="Drawings/chanel.jpg" alt="chanel" style="width:500px;height:600px;">
        I see both sides like chanel
      </div>

      <div class="grid-item item3">
      <img src="Drawings/tokyo.jpg" alt="tokyo" style="width:500px;height:600px;">
      tokyo be drifting my mind
      </div>

      <div class="grid-item item4">
      <img src="Drawings/uzi.jpg" alt="uzi" style="width:500px;height:600px;">
        'Eternal Atake' is overrated
    </div>

    <div class="grid-item item5">
    <img src="Drawings/red.jpg" alt="red" style="width:500px;height:600px;">
        dirty red Supreme
    </div>

    <div class="grid-item item6">
    <img src="Drawings/priviet.jpg" alt="priviet" style="width:500px;height:600px;">
    Moskow in a picture
    </div>

    <div class="grid-item item7">
    <img src="Drawings/myself.jpg" alt="myself" style="width:500px;height:600px;">
        it's just me myself and I
    </div>
  }
  {<div class="grid-container">
    <div class="grid-item item8">
    <img src="Digitals/carti.jpg" alt="carti" style="width:500px;height:600px;">
        Two goats in one picture
      </div>

      <div class="grid-item item9">
      <img src="Digitals/phone.jpg" alt="phone" style="width:500px;height:600px;">
      new phone who dis?
      </div>

      <div class="grid-item item10">
      <img src="Digitals/it.jpg" alt="it" style="width:500px;height:600px;">
        pennywise without makeup
      </div>

      <div class="grid-item item11">
      <img src="Digitals/arab.jpg" alt="arab" style="width:700px;height:600px;">
        the general image that arabs get from the big great Western culture.
        can we call that a culture that doesn't have ancient 
    </div>

    <div class="grid-item item12">
    <img src="Digitals/elephant.jpg" alt="elephant" style="width:500px;height:600px;">
        there always two sides in one story
    </div>

    <div class="grid-item item13">
    <img src="Digitals/youth.jpg" alt="youth" style="width:500px;height:600px;">
        the unheard youth
    </div>
  }
  {<div class="grid-container">
    <div class="grid-item item14">
    <img src="Photography/rage.jpg" alt="rage" style="width:500px;height:600px;">
    rage can cause a lot.
      </div>

      <div class="grid-item item15">
    <img src="Photography/focus.jpg" alt="focus" style="width:500px;height:600px;">
    what is the focus, the scissors, me, the stairs or the finger print. 
    tell me what the focus should be. 
    </div>

    <div class="grid-item item16">
    <img src="Photography/crash.jpg" alt="crash" style="width:500px;height:600px;">
    money doesn't mean security.
    </div>
  
    <div class="grid-item item17">
    <img src="Photography/crash.jpg" alt="crash" style="width:500px;height:600px;">
    money doesn't mean security.
    </div>

    <div class="grid-item item18">
    <img src="Photography/xray.jpg" alt="xray" style="width:500px;height:600px;">
    a change from looking at it from the mirror.
    </div>
        
    <div class="grid-item item19">
    <img src="Photography/LA.jpg" alt="LA" style="width:500px;height:600px;">
    Los Angeles fires from obove the the clouds.
    </div>
    
    <div class="grid-item item20">
    <img src="Photography/lighter.jpg" alt="lighter" style="width:500px;height:600px;">
    a small light with a big meaning.
    </div>
        
    <div class="grid-item item21">
    <img src="Photography/blue.jpg" alt="blue" style="width:500px;height:600px;">
    blue gives me for some odd reason a relaxing vibe, from a different perspective.
    </div>
  }
  {<div class="grid-container">
    <div class="grid-item item22">
    <img src="Self-portaits/pink.jpg" alt="pink" style="width:500px;height:600px;">
    bring it back to cam'ron's dayzzz
      </div>

    <div class="grid-item item23">
    <img src="Self-portaits/ferrari.jpg" alt="ferrari" style="width:500px;height:600px;">
    white ferrari - Frank Ocean
      </div>

    <div class="grid-item item24">
    <img src="Self-portaits/beckham.jpg" alt="beckham" style="width:500px;height:600px;">
    i think the skatepark isn't the right place to learn how to bend it like Beckham.
      </div>

    <div class="grid-item item25">
    <img src="Self-portaits/empty.jpg" alt="empty" style="width:500px;height:600px;">
    i made it look empty, even though it wasn't 
      </div>  

    <div class="grid-item item26">
    <img src="Self-portaits/same.jpg" alt="same" style="width:500px;height:600px;">
    same, just in a different mood.
      </div>
        
<div class="grid-item item27">
    <img src="Self-portaits/ice.jpg" alt="ice" style="width:500px;height:600px;">
    not gonna lie desiigner was overdoing it with the ice.
      </div>
  }